._*
*_&
._OpenXION.jar
._OpenXION-logo.svg
._OpenXION-logo.png
._OpenXION-1.4-xndocs.tgz
._OpenXION-1.4-dist_wOXTconsole+docs.zip
._Native Image Build Configuration.webloc
._MacsodyGM.sf2
._LICENSE
._jline.jar
._JLINE-LICENSE
._install
._HyperSoundGM.sf2
._Docs
._bbedit (xn syntax)
._ASAnswer.xn
._AFPlayFile.xn
._XIONStdTestSuite
._XIONDoc.jar
._xiondoc
._xion
._xe
._SampleScripts
._README
._oxtAppleScriptUI.xn
._OpenXIONConsole.oxtstack
bbedit (xn syntax)/._XION.plist
Docs/._.DS_Store
Docs/._all-index.html
Docs/._cm
Docs/._cm-index.html
Docs/._cn
Docs/._cn-index.html
Docs/._colors.html
Docs/._commands.html
Docs/._constants.html
Docs/._cs
Docs/._cs-index.html
Docs/._datatypes.html
Docs/._dialects.html
Docs/._dt
Docs/._dt-index.html
Docs/._ev
Docs/._ev-index.html
Docs/._fn
Docs/._fn-index.html
Docs/._functions.html
Docs/._hyp
Docs/._index-a.html
Docs/._index-b.html
Docs/._index-c.html
Docs/._index-d.html
Docs/._index-e.html
Docs/._index-f.html
Docs/._index-g.html
Docs/._index-h.html
Docs/._index-i.html
Docs/._index-j.html
Docs/._index-k.html
Docs/._index-l.html
Docs/._index-m.html
Docs/._index-n.html
Docs/._index-o.html
Docs/._index-p.html
Docs/._index-q.html
Docs/._index-r.html
Docs/._index-s.html
Docs/._index-symb.html
Docs/._index-t.html
Docs/._index-u.html
Docs/._index-v.html
Docs/._index-w.html
Docs/._index-x.html
Docs/._index-y.html
Docs/._index-z.html
Docs/._index.html
Docs/._intro.html
Docs/._keywords.html
Docs/._kw
Docs/._kw-index.html
Docs/._mg
Docs/._mg-index.html
Docs/._mt
Docs/._mt-index.html
Docs/._op
Docs/._op-index.html
Docs/._or
Docs/._or-index.html
Docs/._oxn
Docs/._oxna
Docs/._oxnb
Docs/._oxne
Docs/._oxns
Docs/._pr
Docs/._pr-index.html
Docs/._precedence.html
Docs/._properties.html
Docs/._synonyms.html
Docs/._vocabtypes.html
Docs/._vr
Docs/._vr-index.html
Docs/._xiondoc.css
Docs/._xionnav.css
Docs/._xl
Docs/._xl-index.html
Docs/._xn
Docs/.DS_Store
Docs/cm/._add.html
Docs/cm/._answer.html
Docs/cm/._ask.html
Docs/cm/._beep.html
Docs/cm/._close.html
Docs/cm/._convert.html
Docs/cm/._create.html
Docs/cm/._delete.html
Docs/cm/._dial.html
Docs/cm/._divide.html
Docs/cm/._get.html
Docs/cm/._index.html
Docs/cm/._let.html
Docs/cm/._modulo.html
Docs/cm/._multiply.html
Docs/cm/._open.html
Docs/cm/._play.html
Docs/cm/._put.html
Docs/cm/._read.html
Docs/cm/._set.html
Docs/cm/._sort.html
Docs/cm/._speak.html
Docs/cm/._sql.html
Docs/cm/._stop.html
Docs/cm/._subtract.html
Docs/cm/._tone.html
Docs/cm/._truncate.html
Docs/cm/._wait.html
Docs/cm/._write.html
Docs/xl/._applescript.html
Docs/xl/._bash.html
Docs/xl/._hypertalk.html
Docs/xl/._index.html
Docs/xl/._openxion.html
Docs/xl/._perl.html
Docs/xl/._php.html
Docs/xl/._python.html
Docs/xl/._ruby.html
Docs/xl/._vbscript.html
Docs/xl/._xion.html
Docs/xn/._.DS_Store
main/js/.DS_Store
main/.DS_Store
Docs/xn/.DS_Store
Docs/oxns/.DS_Store
Docs/oxne/.DS_Store
Docs/oxnb/.DS_Store
Docs/oxna/.DS_Store
Docs/oxn/.DS_Store
Docs/hyp/.DS_Store
.DS_Store
Docs/hyp/.DS_Store
Docs/oxn/.DS_Store
Docs/oxna/.DS_Store
Docs/oxnb/.DS_Store
Docs/oxne/.DS_Store
Docs/oxns/.DS_Store
Docs/xn/.DS_Store
